body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.formgroup{
  background-color: #cdd521;
}
.form-forma{
  background-color: #cdd521;
  color: #cdd521;
}
.btn-forma{
  background: #cdd521;
  color: #cdd521;
}
/* date picker */
.react-datepicker__input-container {
  display: block;
}
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker-ignore-onclickoutside {
  width: 100%;
}
input{
  width:100%;
}
